// Colors

$text: #454545;
$text-light: light-color($text, 10, 10%, 10%);
$text-dark: dark-color($text, 10, 10%, 10%);
$text-clip: light-color($text, 10, 10%, 50%);
$text-white: light-color($text, 0, 0%, 50%);

$main: #a74040;
$main-light: light-color($main, 10, 10%, 10%);
$main-dark: dark-color($main, 10, 10%, 10%);
$main-clip: light-color($main, 10, 10%, 50%);

$sub: $text;
$sub-light: light-color($sub, 10, 10%, 10%);
$sub-dark: dark-color($sub, 10, 10%, 10%);
$sub-clip: light-color($sub, 10, 10%, 50%);

$highlight-r: red($main-light);
$highlight-g: green($main-light);
$highlight-b: blue($main-light);

$background: #4c4c4c;
$background-content: #ffffff;
$border: $text;

$title: light-color($background, 10, 10%, 50%);
$description: $title;
$footer: $description;

$rule: $text-light;
$rule-light: $text-white;

$link: $main;
$link-visited: $main-light;
$link-hover: $main-dark;

$code-background: transparent;
$code-statement: #3344ff;
$code-type: #3344ff;
$code-identifier: $text;
$code-constant: #cc4422;
$code-preproc: #3344ff;
$code-comment: #449933;
$code-special: #cc4422;

// Layout

$container-margin: 0 auto 30px;
$column-spacing: 20px;
$title-border-radius: 30px;

$entry-width: 720px;
$entry-padding: 30px 20px;
$entry-border-width: 0;
$entry-border-radius: 30px;
$entry-spacing: 20px;

$sidebar-width: 336px;
$sidebar-padding: 30px 20px;
$sidebar-border-width: 0;
$sidebar-border-radius: 30px;

$container-width: $entry-width + $sidebar-width + $column-spacing;
$sidebar-basis: $sidebar-width * 0.75;

$title-image-height: 200px;
$title-font-size: 2rem;
$description-font-size: 1rem;

// Ads

$ad-footer-basis: 300px;
$ad-entry-footer-basis: 300px;

// Global Header

$globalheader-background: $main-dark;
$globalheader-color: $main-clip;
$globalheader-height: 37px;
