:root, body {
	background-color: $background;
	background-color: var(--color-background);
	color: $text;
	color: var(--color-text);
	font-family: $default-font;
	font-weight: 500;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#globalheader-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: $globalheader-background;
	background-color: var(--color-globalheader-background);
	color: $globalheader-color;
	color: var(--color-globalheader);
}

#container {
	width: $container-width;
	margin: $container-margin;
	padding-top: $globalheader-height;

	.globalheader-off & {
		padding-top: 0;
	}
}

#content {
	@include clearfix; 
}

#main {
	float: left;
	width: $entry-width;
}

#box2 {
	float: right;
	box-sizing: border-box;
	width: $sidebar-width;
	padding: $sidebar-padding;
	border: solid $sidebar-border-width $border;
	border: solid var(--border-width-sidebar) var(--color-border);
	border-radius: $sidebar-border-radius;
	background-color: $background-content;
	background-color: var(--color-content);
	background-clip: padding-box;
}

#footer {
	padding: 20px 0;
	font-size: 80%;
	text-align: center;
	color: $footer;
	color: var(--color-footer);
}