.entry {
	box-sizing: border-box;
	margin-bottom: $entry-spacing;
	padding: $entry-padding;
	border: solid $entry-border-width $border;
	border: solid var(--border-width-entry) var(--color-border);
	border-radius: $entry-border-radius;
	background-color: $background-content;
	background-color: var(--color-content);
	background-clip: padding-box;

	&:last-child {
		margin-bottom: 0;
	}
}

.entry-content {
	padding-bottom: 10px;
	border-bottom: dashed 3px $main;
	border-bottom: dashed 3px var(--color-main);

	a {
		@extend %link;

		@include in-headings {
			color: inherit;
		}
	}

	p {
		margin: 0.5em 0.5em;
		line-height: 1.5;
	}

	img {
		max-width: 100%;
	}

	h1,h2,h3,h4,h5,h6 {
		margin: 1.5em 0 1em 0;
	}

	h1 {
		padding: 0.5em 0 0.5em 1em;
		font-size: 160%;
		border-bottom: dashed 3px $main;
		border-bottom: dashed 3px var(--color-main);
	}

	h2 {
		padding: 0.5em 0 0.5em 1em;
		font-size: 150%;
		border-left: solid 10px $main;
		border-left: solid 10px var(--color-main);
		border-top: solid 1px $main;
		border-top: solid 1px var(--color-main);
		border-bottom: solid 1px $main;
		border-bottom: solid 1px var(--color-main);
	}

	h3 {
		padding: 0.25em 0 0.25em 1em;
		font-size: 140%;
		border-left: solid 10px $sub-light;
		border-left: solid 10px var(--color-sub-light);
		border-top: solid 1px $sub-light;
		border-top: solid 1px var(--color-sub-light);
		border-bottom: solid 1px $sub-light;
		border-bottom: solid 1px var(--color-sub-light);
	}

	h4 {
		padding: 0.25em 0 0.25em 1em;
		font-size: 130%;
		border-left: solid 5px $main;
		border-left: solid 5px var(--color-main);
		border-bottom: solid 1px $main;
		border-bottom: solid 1px var(--color-main);
	}

	h5 {
		padding: 0.25em 0 0.25em 1em;
		font-size: 110%;
		border-bottom: solid 1px $sub-light;
		border-bottom: solid 1px var(--color-sub-light);
	}

	h6 {
		padding: 0.25em 0 0.25em 1em;
		font-size: 100%;
	}

	hr {
		width: 80%;
	}

	ul, ol, dl {
		margin: 10px 2em;
		line-height: 1.75;

		ul, ol, dl {
			margin: 0 2em;
		}
	}

	ul, ol {
		padding-left: 1.5em;
	}

	table {
		margin: 20px auto;
		border-collapse: collapse;
		border-spacing: 0;

		img {
			max-width: none;
		}

		th, td {
			border: solid 1px $rule;
			border: solid 1px var(--color-rule);
			padding: 5px 10px;
		}

		th {
			background-color: $main-light;
			background-color: var(--color-main-light);
			color: $main-clip;
			color: var(--color-main-clip);
		}
	}

	.figure {
		margin: 20px 2em;
		text-align: center;
	}

	.caption {
		margin: 0.5em 0;
		font-size: 90%;
	}

	figure {
		@extend .figure;
	}

	figcaption {
		@extend .caption;
	}

	blockquote {
		margin: 20px 2em;
		padding: 20px;
		border: 1px solid $rule-light;
		border: 1px solid var(--color-rule-light);
		p {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	pre {
		margin: 20px 5px;
		padding: 10px 15px;
		line-height: 1.2;
		font-family: inherit;
		border: 1px solid $rule-light;
		border: 1px solid var(--color-rule-light);
		white-space: pre;
		word-wrap: normal;
		overflow-wrap: normal;

		&.code {
			font-family: $monospaced-font;
			background-color: $code-background;
			background-color: var(--color-code-background);
		}
	}

	code {
		margin: 0;
		padding: 0.125em 0.25em;
		font-family: $monospaced-font;
		font-size: 90%;
		color: $text-dark;
		color: var(--color-text-dark);
		background: transparent;
		border: dotted 2px transparent;
		border-radius: 0.5em;

		&:hover {
			background-color: rgba($highlight-r, $highlight-g, $highlight-b, 0.1);
			background-color: unquote("rgba(var(--color-highlight-r), var(--color-highlight-g), var(--color-highlight-b), 0.1)");
			border-color: $main-light;
			border-color: var(--color-main-light);
		}
	}

	pre > code {
		margin: 0;
		padding: 0;
		font-family: $monospaced-font;
		font-size: inherit;
		color: inherit;
		background: $code-background;
		background: var(--color-code-background);
		border: none;
		border-radius: 0;

		&:hover {
			background: $code-background;
			background: var(--color-code-background);
		}
	}

	.synStatement { color: $code-statement; color: var(--color-code-statement); }
	.synType { color: $code-type; color: var(--color-code-type); }
	.synIdentifier { color: $code-identifier; color: var(--color-code-identifier); }
	.synConstant { color: $code-constant; color: var(--color-code-constant); }
	.synPreProc { color: $code-preproc; color: var(--color-code-preproc); }
	.synComment { color: $code-comment; color: var(--color-code-comment); }
	.synSpecial { color: $code-special; color: var(--color-code-special); }

	.gist {
		.blob-num { border: none }
	}

	.hatena-asin-detail {
		li { }
	}

	a.entry-see-more {
		@extend .btn;
		display: table;
		margin: 20px auto;
		padding: 5px 50px;
	}
}