#blog-title {
	margin: 10px 0;

	#blog-title-inner {
		.header-image-enable & {
			position: relative;
		}
		.header-image-enable &, .header-image-only & {
			height: $title-image-height;
			height: var(--height-title-image);
			background-position: center center !important;
			background-size: cover;
			background-clip: padding-box;
			border-radius: $title-border-radius;
		}
	}

	#blog-title-content {
		margin: 5px 20px 10px;
		line-height: 1.2;

		.header-image-enable & {
			position: absolute;
			left: 0;
			bottom: 0;
			margin: 5px $title-border-radius;
		}

		.header-image-only & {
			display: none;
		}
	}

	#title {
		display: inline;
		margin: 0 0.25em;
		font-weight: bold;
		font-size: $title-font-size;
		font-size: var(--font-size-title);
		color: $title;
		color: var(--color-title);
		white-space: nowrap;

		.header-image-enable & a {
			font-weight: bold;
			color: $title;
			color: var(--color-title);
			text-shadow: none;
		}
	}

	#blog-description {
		display: inline-block;
		margin: 0 0.25em;
		font-weight: bold;
		font-size: $description-font-size;
		font-size: var(--font-size-description);
		color: $description;
		color: var(--color-description);

		.header-image-enable & {
			font-weight: bold;
			color: $description;
			color: var(--color-description);
			text-shadow: none;
		}
	}
}

#top-box {
	.breadcrumb {
		margin: 0.5em 1em;
		color: $background-clip;
		color: var(--color-background-clip);
		font-size: 90%;
		font-weight: bold;
	}

	.breadcrumb-inner {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.breadcrumb-link, .breadcrumb-child {
		&:not(:first-child)::before {
			@include blogicon($blogicon-chevron-right);
			margin: 0 0.5em;
			font-size: 80%;
			font-weight: normal;
		}
	}
	
	.breadcrumb-gt { display: none }
}